# Reference https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# OS General
Thumbs.db
.DS_Store

# project
*.cert
*.key
*.log
bin/

# Develop tools
.vscode/
.idea/
*.swp
.zcode/

# generator test output
gowind/pkg/generators/output/
gowind/pkg/service/test/
gowind/internal/service/test/

# sqlorm/sqlproto test-run artifacts
gowind/pkg/sqlorm/internal/ent/entimport/schema/
gowind/pkg/sqlorm/internal/gorm/daos/
gowind/pkg/sqlorm/internal/gorm/models/
gowind/pkg/sqlproto/api/
gowind/pkg/sqlproto/internal/render/api/
